$font-body: 'Roboto', Helvetica, Arial, sans-serif;
$font-title: 'Ubuntu', 'Roboto', Helvetica, Arial, sans-serif;

$radius-box: 10px;
$default-gutter: 16px;
$default-transition: 200ms;

$color-gray-element: #eaeaea;
$color-gray-text: #606060;
$color-warren: #EE2E5D;
