$font-body: 'Roboto', Helvetica, Arial, sans-serif;
$font-title: 'Ubuntu', 'Roboto', Helvetica, Arial, sans-serif;

$radius-box: 10px;
$default-gutter: 16px;
$default-transition: 200ms;

$color-background: #fff;
$color-gray-element: #eaeaea;
$color-gray-placeholder-square: #bbb;
$color-gray-text: #606060;
$color-white: #fff;
$color-black: #000;
$color-bg-overlay: rgba(0, 0, 0, 0.7);
$color-warren: #EE2E5D;
