@import '~normalize.css';
@import 'reset';

html, body {
  height: 100%;
}

#app {
  min-height: 100%;
  font-family: $font-body;
  background: var(--app-bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-title;
}

.theme-transition {
  transition: background $default-transition,border-color $default-transition, color $default-transition;
}

.container {
  margin: 0 auto;
  max-width: 533px;
  padding: 0 $default-gutter;
}
